{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
<header class="site-header outer {{#if @blog.cover_image}}" style="background-image: url({{@blog.cover_image}}){{else}}no-cover{{/if}}">
    <div class="inner">
        {{> "site-nav"}}
    </div>
</header>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner">
        <div class="post-feed">
            {{#foreach posts}}
                {{#if @first}}
                    {{> "jumbo-post"}}

                    <section class="subscribe-form" style="width: 100%; margin: 1.5em;">
                        <h3 class="subscribe-form-title">Our Fully HIPAA Compliant Solutions</h3>
                        <h3 class="subscribe-form-title">See a 50% gain in productivity</h3>
                        <p>Learn how AI can transform your healthcare business right from your desk</p>
                    </section>
                {{else}}
                    {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                    {{> "post-card"}}
                {{/if}}
            {{/foreach}}
        </div>

    </div>
</main>
